.hero {
        display: flex;
        height: 100vh;
        align-items: center;
        padding: 0 100px;
        gap: 30px;
        z-index: 2;
      }

      .hero h1 {
        font-size: 60px;
      }

      h1{
        color: blue;
      }

      .hero-image {
        position: relative;
        animation: hero-image-animate 4s ease-in-out infinite alternate;
      }

      @keyframes hero-image-animate {
        from {
          top: -20px;
        }
        to {
          top: 20px;
        }
      }

      nav {
        width: 100%;
        height: 60px;
        background-color: orangered;
        position: fixed;
        top: 0;
        z-index: 1;
      }